# Ignore node_modules in the root folder
node_modules/

# Ignore node_modules in the frontend and backend folders
/frontend/node_modules/
/backend/node_modules/

frontend/package-lock.json
backend/package-lock.json
.vscode/settings.json
backend/package-lock.json
backend/package.json
backend/package-lock.json
backend/package-lock.json
backend/package.json
frontend/package-lock.json
frontend/package.json
package-lock.json
backend/package-lock.json
backend/package.json
frontend/build/asset-manifest.json
frontend/build/static/css/main.1303b35b.css.map
frontend/build/static/css/main.18b89743.css
frontend/build/static/css/main.18b89743.css.map
frontend/build/static/js/main.ae2481cb.js
frontend/build/static/js/main.ae2481cb.js.LICENSE.txt
frontend/build/static/js/main.ae2481cb.js.map
frontend/build/static/js/main.e4516a0f.js
frontend/build/static/js/main.e4516a0f.js.LICENSE.txt
frontend/build/static/js/main.e4516a0f.js.map
frontend/package-lock.json
frontend/package.json
package-lock.json
backend/package-lock.json
backend/package.json
frontend/build/asset-manifest.json
frontend/build/static/css/main.1303b35b.css.map
frontend/build/static/js/main.ae2481cb.js
frontend/build/static/js/main.ae2481cb.js.LICENSE.txt
frontend/build/static/js/main.ae2481cb.js.map
frontend/package-lock.json
frontend/package.json
package-lock.json
package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/build/static/js/main.ae2481cb.js.map
frontend/build/static/js/main.ae2481cb.js.LICENSE.txt
frontend/build/static/js/main.ae2481cb.js
frontend/build/static/css/main.1303b35b.css.map
frontend/build/asset-manifest.json
backend/package.json
backend/package-lock.json
