/* Main Image Section */
.sale_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 400px;
}

.large-image {
    font-size: 36px;
    font-weight: bold;
    color: #666;
}

.suggested-products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    background-color: #d9d9d9;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.product-description {
    height: 100px;
    padding: 0px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border-top: 1px solid #eee;
}

/* Responsive layout for smaller screens */
@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for very small screens */
    }
}

@media (max-width: 400px) {
    .product-grid {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}